.error {
    color: darkred;
    font-size: 12px;
}

.center {
    text-align: center;
}

.background {
    background-image: url("../img/logo/ic_background.jpg");
}

.formito {
    background-color: whitesmoke;
    border: 1px solid black;
    padding-left: 12%;
    padding-right: 12%;
    border-radius: 7%;
    margin-bottom: 2%;
}

#wrapit {
    margin-right: 3%;
    margin-left: 3%;
}

.album_pic {
    height: auto;
    width: 20%;
    margin: 2%;
    position: relative;
    border: rgba(118, 255, 0, 0.90);
    max-height: 80px;
    max-width: 140px;
}

.profile_pic {
    height: auto;
    width: 20%;

    float: left;
    position: relative;
    margin-top: -22%;
    border: 4px solid white;
}

.profile_pic2 {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
}

.jumbotron2 {
    color: inherit;
    background-color: #eee;
    height: auto;
    text-align: center;
    width: 100%;
}

.cover_pic {
    height: auto;
    max-height: 350px;
    width: 100%;
}

.menu {
    width: 100%;
    background-color: #5cb85c;
}

.thewrapper {
    margin-left: 20px;
    width: 95%;
}
.publication {
    position: relative;
    margin-bottom: 5%;
    border: 4px solid #e3e3e3;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

}

.publication_content {
    background-color: aliceblue;
    margin-bottom: 1%;
}

.commentaire {

    margin-top: 1%;
}

.description {
    margin-left: 18%;
    margin-bottom: 2%;
    padding-top: 6%;
}
.well {
    /* min-height: 20px; */
    padding: 2%;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.name3 {
    display: inherit;
    font-size: 50pt;
    margin-left: 20%;
    margin-top: 220px;
    position: absolute;
    z-index: 1;

}

.name {
    text-align: left;
    padding-left: 5px;
    margin-top: 2%;
    font-size: 22pt;
}

.name2 {
    text-align: left;
    padding-left: 3%;
    float: left;
}

.sous-menu {
    text-align: center;
    padding-bottom: 3%;
}

.feeling {
    margin-left: 17%;
    margin-top: 33px;
    position: absolute;
}

.publication_pic {
    max-width: 500px;
    max-height: 320px;
    border-color: #269abc;
    margin-left: 18%;

}
.photo_comment {
    display: block;
    height: 34px;
    width: 300px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: whitesmoke;
    color: black;
}

.modal-body {
    padding: 2px 2px;
}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 4%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal2-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close2 {
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal2-header {
    background-color: whitesmoke;
    padding: 3% 3%;
    color: black;
}

.modal2-body {
    padding: 3% 3%;
    color: black;
}





.endDate-form {
    display: none; /* Hidden by default */
}

.eventPic {
    width: auto;
    height: auto;
    max-height: 60px;
    float: left;
}

.friendPic {
    width: auto;
    height: auto;
    max-height: 60px;
    float: left;
    padding-right: 5%;
    padding-left: 5%;
}

.list-group-item2 {
    position: relative;
    display: block;
    padding-bottom: 12%;
    padding-top: 3%;
    padding-right: 5%;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.eventTitle {
    margin-left: 14%;
}

.eventHour {
    float: right;
}

.eventInv {
    color: white;
    float: right;
    font-size: 14px;
}

.invBtn {
    width: 100%;
    height: 100%;
}

.notifBtn {
    margin-left: 10%;
    font-size: 10pt;
    width: 17%;
    max-height: 7%;
    display: inline-block;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    margin-top: 10%;
    right: 0;
}

.friendPic2 {
    width: auto;
    height: auto;
    max-height: 100px;
    float: left;
    padding-right: 2%;
    padding-left: 2%;
}

.list-group3 {
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;
}

.list-group-item3 {
    -webkit-box-sizing: border-box;
    padding: 15px;
    float: left;
    width: 97%;
    padding-right: 5%;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
}

.reactions_but {

    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    border: none;
}

.reaction_but_small {
    transition: all 0.5s;

    width: 2em !important;
    height: 2em !important;
    background-size: 2em 2em;
}

.reaction_but_big {
    transition: all 0.5s;

    width: 3.5em !important;
    height: 3.5em !important;
    background-size: 3.5em 3.5em;
}

.reaction_but_hover {
    transition: all 0.5s;

    width: 3em !important;
    height: 3em !important;
    background-size: 3em 3em;
}

.messPic {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 100%;
    border: 2px solid white;
}


