<div class='commentaire well' id="new_comment">
    <a class="user-link" href=""> <img src="" class="profile_pic2 pull-left"> </a>
    <a class="user-link" href="">
        <div class="name2"></div>
    </a>
    <br/>

    <div style="margin-left: 11%;" class="content col-lg-8"></div>
    <br/>
</div>

