<form class="form-group add-comment" role="form" action="scripts/addComment.php" method="post">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-1">
                <IMG SRC="" class="profile_pic2">
            </div>
            <div class="col-lg-10">
                <input class="form-control" placeholder="Enter your comment" name="comment" id="comment"/>
            </div>
        </div>

    </div>
    <input type="hidden" class="addcomment_id" name="publication" value=""/>
    <input class="id-publi-list" type="hidden" name="id_publi_list" value=""/>

    <input type="submit" value="Add" class="btn btn-default"/>
</form>

</div>