<div style="padding: 15px;" class="publication" id="new">
    <div class="publication-content">
        <form method='post' action='scripts/deletePubli.php'>
            <input class="id-publi" type="hidden" value="" name="id_publi">
            <button type='submit' style='float: right;' class='btn btn-danger'><i class="fa fa-fw fa-times"></i>
            </button>
        </form>
        <a class="user-link" href=""> <img src="" class="profile_pic2 pull-left"/> </a>
        <a class="user-link" href=""><p class="name pull-left"></p></a>
        <div class="feeling"></div>
        <div style="font-size: 12pt;" class="description"></div>


        <img src="" class="publication_pic"/>

    </div>
    <hr style="margin:1%;">
    <div style="background-color: aliceblue" class="reaction-box">
        <p class="num-likes"></p>

        <form class="form-reactions" action='scripts/reaction.php' method='post'>
            <input class="reac0 reactions_but" type='submit' name='_like' value=""
                   style="background-image:url('/ressources/ic_reactions/like.png');"/>
            <input class="reac1 reactions_but" type='submit' name='_love' value=""
                   style="background-image:url('/ressources/ic_reactions/love.png');"/>
            <input class="reac2 reactions_but" type='submit' name='_angry' value=""
                   style="background-image:url('/ressources/ic_reactions/angry.png');"/>
            <input class="reac3 reactions_but" type='submit' name='_lol' value=""
                   style="background-image:url('/ressources/ic_reactions/lol.png');"/>
            <input class="reac4 reactions_but" type='submit' name='_wow' value=""
                   style="background-image:url('/ressources/ic_reactions/wow.png');"/>

            <input class="id-publi" type="hidden" name="id_publi" value=""/>
            <input class="id-publi-list" type="hidden" name="id_publi_list" value=""/>
        </form>
    </div>
    <hr style="margin:1%;">
