<footer class="footer">
    <div class="pull-right">
        <i class="fa fa-fw fa-copyright"></i> All rights reserved.
    </div>
    <div>
        <strong>Copyright</strong> Sway Company 2014-2019
    </div>
</footer>
